@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Amasis";
  src: url("/fonts/AmasisMTW1G.otf") format("opentype");
}

@font-face {
  font-family: "felix";
  src: url("/fonts/FELIXTI.TTF") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "cali";
  src: url("/fonts/Californian FB Regular.ttf") format("truetype");
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* Ensure text alignment is centered */
  /* Add vertical centering if needed */
  top: 35%;
  transform: translate(-50%, -50%);
}

* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p,
span {
  font-family: "Amasis", sans-serif;
}

li,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: "felix", sans-serif;
}

.box {
  font-family: "cali", sans-serif;
}

video {
  object-fit: cover;
}
