@tailwind base;
@tailwind components;
@tailwind utilities;

/* use variables */
:root {
  --r-blue: #072b61;
}

@font-face {
  font-family: "Amasis";
  src: url("/fonts/AmasisMTW1G.otf") format("opentype");
}

@font-face {
  font-family: "felix";
  src: url("/fonts/FELIXTI.TTF") format("truetype");
}

@font-face {
  font-family: "cali";
  src: url("/fonts/Californian FB Regular.ttf") format("truetype");
}

body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-family: "amasis", sans;
}
